.container {
	position: relative;
	height: 800px;
	width: 800px;
	
	padding: 20px;
	background-color: black;
	margin: auto;
	margin-top: 20px;
}

.container > .square_grid {
	padding: 0 0;
	margin: 0 0;
	
	height: 100%;
	width: 100%;
	background-color: black;
}
table {

	margin: 0 0;
	width: 100%;
	height: 100%;

}

td {
	margin: 0 0;
	padding: 0 0;
	background-color: white;
	border: 1px solid black;
	opacity: 1.0;
}

li, button{
	display: inline-block;
	padding: 5px;
	margin: 0 0;
	background-color: green;
	color: white;
	border: 0;
}

.header {
	padding: 0 0;
	width: 100%;
	background-color: green;
}

body {
	background-color: brown;
}